* {
    color: #FFF;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', 'Times New Roman', Times, serif;
}

body {
    overflow-x: hidden;
}

/* navigation */
.navbar ul {
    width: 100%;
    background-color: #000;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
}

.left {
    justify-content: left;
}

.navbar a {
    display: block;
    padding: 16px 20px;
    text-align: center;
    font-size: 15px;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    text-underline-offset: 0.5em;
    transition: text-decoration-color 600ms, color 600ms;
}

.navbar .sticky {
    width: 100%;
    list-style-type: none;
    z-index: 1;
}

/* hero images */

.hero {
    /* display */

    position: absolute;
    z-index: -1;

    /* background image */

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.home {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../content/tft pengu 6 years.jpg');
}

.page1 {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../content/set 15 cover.jpg');
}

.page2 {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../content/set 13 items.jpg');
}

.page3 {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../content/set 15 units.jpg');
}

.page4 {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../content/tft set 15 comps.png');
}

/* content */
.background {
    background-color: #000;
}

.wrapper {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
    overflow: wrap;
}

.title {
    padding-top: 200px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.title-content {
    padding-bottom: 300px;
    font-size: 15px;
}

.main-content {
    padding: 50px 0px;
    text-align: center;
    font-size: 25px;
}

.content {
    padding: 50px 0px;
    text-align: center;
    font-size: 20px;
}

/* breaks */
.large-break {
    height: 250px;
    width: 100%;
    background-color: rgba(0,0,0,0);
}

.med-break {
    height: 150px;
    width: 100%;
    background-color: rgba(0,0,0,0);
}

.small-break {
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0,0);
}

/* animations */

.navbar a:hover {
    text-decoration-color: rgba(255, 255, 255, 1) ;
    color: rgb(255, 249, 184)
}

.image img:hover {
    animation: image-size 1200ms ease-in-out;
}

@keyframes image-size {
    50% {scale: 125%;}
}